.color_switcher {
  position: fixed;
  top: 40%;
  right: -200px;
  width: 200px;
  padding: 10px;
  background: #111;
  z-index: 1000;
  border-bottom-left-radius: 10px;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  h3 {
    color: var(--main-color);
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--main-color);
    text-align: center;
    padding: 5px 0;
  }
  .switcher_btn {
    position: absolute;
    top: 0;
    left: -60px;
    color: var(--main-color);
    background-color: #111;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 25px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    i {
      animation: rotate 2s linear infinite;
      -webkit-animation: rotate 2s linear infinite;
    }
  }
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
    }
  }
  .theme_buttons_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .theme-btn {
      display: block;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      margin: 5px;
      cursor: pointer;
    }
  }
}

.color_switcher.active {
  right: 0px;
}
