#service {
  padding-top: 70px;

  h4 {
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    background-color: var(--main-color);
    display: inline-block;
  }

  h3 {
    font-size: 30px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 30px;
  }

  .service_main {
    padding: 15px 0;

    .service_items {
      transition: all 0.5s linear;
      -webkit-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
      -ms-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;
      padding: 10px 15px;

      &:hover {
        -webkit-box-shadow: -1px 1px 10px 5px rgba(0, 0, 0, 0.6);
        box-shadow: -1px 1px 10px 5px rgba(0, 0, 0, 0.6);
      }

      .graphic {
        border: none;
        background: none;
        padding-top: 10px;

        i {
          font-size: 40px;
          color: var(--main-color);
          transition: all 0.5s linear;
          -webkit-transition: all 0.5s linear;
          -moz-transition: all 0.5s linear;
          -ms-transition: all 0.5s linear;
          -o-transition: all 0.5s linear;

          &:hover {
            color: rgb(231, 69, 69);
          }
        }
      }

      .modal-content {
        text-align: center;

        .modal-header {
          font-weight: 500;
        }

        .modal-body {
          .graphic_text {
            img {
              width: 100%;
            }

            p {
              padding-top: 20px;
              font-weight: 400;
              font-family: "Poppins", sans-serif;
              text-transform: capitalize;
            }
          }

          .modal-footer {
            .friday {
              border: none;
              background: none;
              padding: 10px;
              color: #000;
              background-color: var(--main-color);
            }
          }
        }
      }
    }

    h5 {
      font-size: 22px;
      font-weight: 500;
      padding: 10px 0;
    }

    p {
      font-size: 16px;
      font-weight: 400;
    }
  }
}